@font-face{
	font-family: Rex Bold;
	src: url(fonts/Rex_Bold.otf);
}
@font-face{
	font-family: MyriadPro-Regular;
	src: url(fonts/MyriadPro-Regular.otf);
}
@font-face{
	font-family: MyriadPro-BoldCond;
	src: url(fonts/MyriadPro-BoldCond.otf);
}

@font-face{
	font-family: KelsonRegular;
	src: url(fonts/KelsonSansRegularRU.otf);
}

@font-face{
	font-family: KelsonBold;
	src: url(fonts/KelsonSansBoldRU.otf);
}